{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>ホーム</title>

    <style>
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100px;
            background-color: #333;
            color: #fff;
            padding: 0 20px;
        }
        .right-text {
            font-size: 20px; /* 文字の大きさを指定 */
            color: #fff; /* 文字の色を白に指定 */
        }
    </style>
</head>

<body>
    <header>
        <h1>Market Place</h1>
        <a href="{% url 'register' %}">
            <div class="right-text">sign up</div>
        </a>
    </header>

    <div class="product-list">
        {% for product in products %}
        <div class="product">
            <li>
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <a href="{% url 'product_detail' product.id %}">
                    <h2>{{ product.name }}</h2>
                </a>
                <p>価格: ¥{{ product.price }}</p>
            </li>
        </div>
        {% endfor %}
    </div>

    <a href="{% url 'product_create' %}">
        <h2>商品登録</h2>
    </a>
</body>

</html>
